@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; margin: 0; }
#root { width: 100%; padding: 0; text-align: left; }  /* 필요 최소만 */
body { @apply bg-slate-50 text-slate-800 font-sans; }